.selector {
    width: 171px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 2px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
    --colortext: #000000;
    --colorborder: #000;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
    --colortext: #000000;
    --colorborder: #000;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
    --colortext: #fff;
    --colorborder: #fff;
}

html {
    background-color: var(--background);
    color: var(--color);
}

select {
    background-color: var(--background);
    color: var(--colortext);
    border-color: var(--colorborder);
}