.message {
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

.imageAndText img {
    justify-content: flex-end;
    display: flex;
    margin-right: 0;
    max-height: 48px;
    max-width: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    color: #fff;
    align-items: end;
    background-color: rgba(0, 102, 204, 1);
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 10px;
}

.text:after {

}

.name {

}

.messageText {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 8px;
}

.time {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 30px;
}