.buttonsContainer {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 90px;
}

.responseContainer {
    display: flex;
    flex-direction: row;
    column-gap: 85px;
}

.imageContainer {
}

.image {
    max-width: 450px;
    padding-left: 90px;
}

.textContainer {
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0em;
}

.code {
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    padding-bottom: 15px;
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.info {
    max-width: 510px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}