.sidebar {
    width: 320px;
    background-color: #ffffff;
    height: 100vh;
    z-index: 1;

    visibility: visible;
    position: absolute;
    top: 0
}

sidebar::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(211, 209, 209); /* Прозрачный фон для псевдоэлемента */
    z-index: -1; /* Помещаем псевдоэлемент под всеми другими элементами на странице */
}

.sidebarOpen {
}

.sidebarClose {
    display: none;
}

.sidebar.open {
    display: block;
    position: absolute;
}

.background {
}

.nav {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    row-gap: 45px;
}

.nav a {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    text-decoration: none; /* Удаление подчеркивания */
}


.nav a.active {
    text-decoration: underline; /* Подчеркивание */
    color: rgba(0, 89, 178, 1);;
}

.nav a:hover {
    color: rgba(88, 172, 255, 1);
    text-decoration: underline; /* Подчеркивание */
}

.close {
    margin-top: 10px;
    margin-left: 270px;
    margin-bottom: 25px;
    background-color: rgba(0, 89, 178, 0);
    border: solid 0 black;

}

.close img {
    background-color: rgba(0, 89, 178, 0);
}