.item {
}

.item:last-of-type {
}

.users {
    width: 100%;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.buttonsContainer {
    display: flex;

    margin-bottom: 20px;
    flex-direction: row;
    justify-content: end;
    column-gap: 10px;
}

.container {
    margin-left: 70px;
    width: 100%;
    max-width: 606px;
}

.thead {
    background-color: #E5E5E5;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nameCol {
}

.ageCol {
}

.useAge {
    font-weight: 500;
}