.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.error {
    color: #cc0000;
}

.input {
    border: solid 1px #ccc;
    height: 36px;
    width: 372px;
}

.input:focus {
}

.errorInput {
    border: solid 1px #cc0000;
}

.button {
    background-color: rgba(0, 102, 204, 1);
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding: 8px 24px;
    border: 0;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    padding-top: 30px;
}

.greeting {
    font-family: Montserrat;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}