.container {
}

.wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 13px;
}

.number {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}
